$site-width: 1140px;
$bd-width: 1px;
$color_white: #FFFFFF;
$color_bg_almost_white: #F7F7F7;
$color_almost_white: #F8F8F8;
$color_almost_white1: #FBFBFB;
$color_lightpink_white: #F8F3F4;
$color_bg_cart: #F5F3F3;
$color_black: #000000;
$color_black_lighter: #222222;
$color_pink: #F16D7F;
$color_bright_pink: #F26376;
$color_coral: #FF6A6A;
$color_bright_coral: #EF5B70;
$color_bg_pink: #F1E4E6;
$color_very_dark_grey: #4D4D4D;
$color_cart_text: #4A4A4A;
$color_almost_dark_grey: #5E5E5E;
$color_almost_black_grey: #636363;
$color_grey: #6F6E6E;
$color_quite_dark_grey: #575757;
$color_dark_grey: #5D5D5D;
$color_medium_grey: #9F9F9F;
$color_light_grey: #B1B1B1;
$color_border_button_grey: #A4A4A4;
$color_soft_grey: #E1E1E1;
$color_hr_cart: #E2E2E2;
$color_very_soft_grey: #EAEAEA;
$color_very_light_grey: #EBEBEB;
$color_dark_blue: #222224;