@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.header {
  background: #222222;
}

.header_content {
  padding: 3% 2% 0 0;
}

.header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
}

.header_left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon_padding_bottom {
  padding-bottom: 20px;
}

.header_icon_1 {
  margin-right: 41px;
}

.header_right {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_hover:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mega-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 24px;
  padding-left: 34px;
  padding-top: 0px;
  padding-right: 143px;
}

.header_icon_3 {
  position: relative;
  padding-bottom: 20px;
}

.header_icon_3:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mega-box {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  padding: 37px;
  top: 45px;
  display: none;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mega-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  position: absolute;
  top: -5px;
  left: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
}

.mega-item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.closing_logo {
  width: 12px;
  padding-left: 203px;
}

.closing_logo:hover .mega-box {
  display: none;
}

.menu__par, .menu_heading, .mega-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.menu_heading {
  color: #F16D7F;
  padding-bottom: 12px;
  padding-top: 20px;
  padding-left: 33px;
}

.mega-link {
  padding-bottom: 11px;
  color: #6F6E6E;
  text-decoration: none;
  padding-left: 54px;
}

.mega-link:last-of-type {
  padding-bottom: 94px;
}

.mega-link:hover {
  color: #F16D7F;
}

.footer__content {
  padding: 2% 3% 0;
}

.shop_statements_block {
  background: #222222;
}

.statements_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statements_logo {
  display: block;
  padding-top: 103px;
  margin-left: auto;
  margin-right: auto;
}

.statements_heading {
  padding-top: 28px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
}

.statements_heading_2 {
  padding-top: 21px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
}

.statements_text {
  padding-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  padding-bottom: 104px;
  color: #FBFBFB;
}

.subscribe_block {
  background: url(img/background_subscribe_filter_edited.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.subscribe_block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quote_block {
  width: 50%;
}

.quote_block__width {
  width: 100%;
}

.quote_photo {
  padding-top: 87px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quote_text {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-bottom: 126px;
  width: 65%;
  margin: 0 auto;
}

.quote_block__width {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe_form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe_form_heading {
  padding-top: 150px;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe_form_text {
  padding-top: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  padding-bottom: 32px;
}

.subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe_block__content {
  padding: 2% 3% 0;
}

.subscribe_form_field {
  display: block;
  margin-left: auto;
  background: #E1E1E1;
  border: 1px solid #E1E1E1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0.4;
  padding-top: 17px;
  padding-right: auto;
  padding-bottom: 16px;
  padding-left: 22px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.subscribe_form_button {
  display: block;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #F16D7F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 16px;
  padding-left: 18px;
  border: 1px solid #F16D7F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.subscribe_form_button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.copyright_and_social_media_block {
  background-color: #222224;
}

.copyright_and_social_media__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.fa-brands {
  font-size: 15px;
  margin-top: 24px;
  margin-bottom: 23px;
  margin-right: 7px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  color: #000000;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fa-brands:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.registration_main {
  background: #F8F3F4;
  height: 148px;
}

.registration_logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 59px;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;
  color: #F16D7F;
}

.registration_form_and_info_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration {
  padding-top: 64px;
}

.registration_form_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 25px;
  padding-left: 0;
  color: #222222;
}

.form_text_field {
  padding-top: 13px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 17px;
  width: 87%;
}

.field__margin {
  margin-bottom: 20px;
}

.radio__margin_top {
  margin-top: 34px;
}

.radio__margin_bottom {
  margin-bottom: 34px;
}

.gender_radio_button {
  margin-right: 10px;
}

.radio_right {
  margin-left: 20px;
}

.radio_button_text {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration_form_password_description {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 39px;
  color: #B1B1B1;
  width: 359px;
}

.registration_submit_button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 17px;
  padding-left: 29px;
  border: 1px solid #F16D7F;
  outline: none;
  color: #FFFFFF;
  background: #F16D7F;
  margin-bottom: 96px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.registration_submit_button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.arrow_pic {
  padding-left: 20px;
  padding-right: 29px;
}

.registration_info_block {
  width: 660px;
}

.registration_info_heading {
  margin-top: 64px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 22px;
  padding-left: 0;
  color: #000000;
}

.registration_info_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration_info_list {
  margin-top: 21px;
  list-style-image: url(img/check-mark.svg);
  list-style-position: inside;
  line-height: 1.5;
}

.product_page_main {
  background: #F8F3F4;
}

.new_arrivals_page_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new_arrivals_logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 59px;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;
  text-transform: uppercase;
  color: #F16D7F;
}

.catalog_menu {
  padding-top: 65px;
}

.catalog_menu li {
  display: inline;
  font-size: 18px;
}

.catalog_menu li + li:before {
  color: #000000;
  padding: 2px;
  content: "/\00a0";
  display: inline;
}

.catalog_menu_item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog_menu_item:hover {
  color: #EF5B70;
}

.catalog_menu_item_current {
  font-weight: bolder;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog_menu_item_current:hover {
  color: #636363;
}

.product_photo_block {
  background: #F7F7F7;
}

.product_photo_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.product_photo {
  padding-bottom: 50px;
}

.nav_arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /*так можно? */
  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 12px;
  padding-left: 17px;
  background: rgba(42, 42, 42, 0.15);
}

.nav_arrow:hover {
  color: #F16D7F;
}

.nav_arrow_block {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000000;
}

.product_descr_block {
  -webkit-transform: translateY(-64px);
          transform: translateY(-64px);
}

.product_descr_flex {
  width: 1140px;
  margin-bottom: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
}

.product_descr_header {
  padding-top: 64px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product_descr_pink_line {
  margin-top: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 63px;
  background-color: #F16D7F;
  border: none;
  height: 3px;
}

.product_descr_product_name {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #4D4D4D;
}

.product_descr {
  padding-top: 48px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product_descr_product_price {
  padding-top: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product_descr_grey_line {
  margin-top: 65px;
  margin-bottom: 65px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 641px;
  height: 0;
  color: #FFFFFF;
}

.choose_product_options_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
}

.choose_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.choose_size_block {
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 49px;
}

.arrow_down {
  padding-left: 9px;
}

.add_to_cart_button_flex {
  margin-left: auto;
  margin-right: auto;
}

.cart {
  padding-right: 23px;
}

.add_to_cart_button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 14px;
  padding-right: 56px;
  padding-bottom: 14px;
  padding-left: 23px;
  color: #F26376;
  margin-bottom: 78px;
  text-align: center;
  border: 1px solid #F26376;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fa-cart-shopping {
  padding-right: 23px;
}

.add_to_cart_button:hover {
  color: #FFFFFF;
  background-color: #F26376;
}

.recommend_products_block {
  margin-bottom: 128px;
}

.choose_option {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  text-transform: uppercase;
  color: #6F6E6E;
  margin-left: 23px;
}

.choose_option:first-of-type {
  margin-left: 0px;
}

.choose_summary {
  list-style-type: none;
}

.choose_summary_bd {
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 11px;
  list-style-type: none;
  border-left: 5px solid #EF5B70;
  position: relative;
}

.choose_summary_bd::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 93%;
  height: 1px;
  margin-left: -25%;
  background: #EBEBEB;
}

.choose_summary_bd1 {
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 11px;
  list-style-type: none;
  border-left: 5px solid #EF5B70;
  position: relative;
}

.choose_summary_bd1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 93%;
  height: 1px;
  margin-left: -19%;
  background: #EBEBEB;
}

.choose_summary_bd2 {
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 11px;
  list-style-type: none;
  border-left: 5px solid #EF5B70;
  position: relative;
}

.choose_summary_bd2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 93%;
  height: 1px;
  margin-left: -25%;
  background: #EBEBEB;
}

.choose_summary_bd:hover {
  color: #EF5B70;
}

.summary_margin_bottom {
  margin-bottom: 24px;
}

.choose_list {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 25px;
  position: absolute;
  list-style-type: none;
  width: auto;
}

.choose_list__margin {
  padding-bottom: 6px;
}

.choose_list_line {
  padding-left: 10px;
  margin-top: 6px;
  text-transform: capitalize;
}

.choose_list_line:hover {
  color: #EF5B70;
}

.filter_block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 616px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 65px;
}

.choose_summary:hover {
  color: #EF5B70;
}

.filter_list {
  position: relative;
}

.filter_list:hover .filter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: #000000;
  text-transform: uppercase;
}

.filter_name_box {
  width: 100%;
  font-weight: 600;
  color: #EF5B70;
  padding-top: 13px;
}

.filter_box {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: 253.33333px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  padding-left: 17px;
  top: 0px;
  display: none;
  z-index: 2;
  text-transform: uppercase;
  color: #6F6E6E;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -17px;
  margin-top: -13px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.filter_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending_now_option {
  position: relative;
}

.options_margin {
  margin-right: 28px;
}

.fa-arrow-down-wide-short {
  padding-left: 11px;
}

.choose_summary {
  list-style-type: none;
}

.catalog__pad, .choose_summary__bd, .choose_summary__bd1, .choose_summary__bd2 {
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 11px;
}

.choose_summary__bd {
  list-style-type: none;
  border-left: 5px solid #EF5B70;
  position: relative;
}

.choose_summary__bd::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 93%;
  height: 2px;
  margin-left: -37%;
  background: #EBEBEB;
}

.choose_summary__bd1 {
  list-style-type: none;
  border-left: 5px solid #EF5B70;
  position: relative;
}

.choose_summary__bd1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 93%;
  height: 1px;
  margin-left: -26.5%;
  background: #EBEBEB;
}

.choose_summary__bd2 {
  list-style-type: none;
  border-left: 5px solid #EF5B70;
  position: relative;
}

.choose_summary__bd2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 93%;
  height: 1px;
  margin-left: -34%;
  background: #EBEBEB;
}

.choose_summary__bd:hover {
  color: #EF5B70;
}

.summary__margin_bottom {
  margin-bottom: 24px;
}

.filter_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: #6F6E6E;
  text-transform: capitalize;
  list-style-type: none;
}

.filter_list_li {
  padding-bottom: 11px;
}

.filter_list_li:hover {
  color: #EF5B70;
}

.filter_list_li_last {
  padding-bottom: 32px;
}

.choose_option_catalog {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  text-transform: uppercase;
  color: #6F6E6E;
  margin-left: 23px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  z-index: 2;
}

.list_padding_bottom {
  padding-bottom: 6px;
}

.pag_style {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #B1B1B1;
}

.pagination_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  margin-bottom: 109px;
}

.pag_color {
  color: #EF5B70;
}

.page-link:hover {
  color: #EF5B70;
}

.cart_page_main {
  background-color: #F8F3F4;
  margin-bottom: 96px;
}

.shopping_cart_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_in_cart_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_in_cart_block::last-of-type {
  margin-bottom: 72px;
}

.cart_product_img {
  display: block;
}

.cart_product_img:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.cart_product_link {
  text-decoration: none;
}

.cart_product_descr_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_product_heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 22px;
  padding-right: 37px;
  padding-bottom: 42px;
  padding-left: 31px;
  color: #222224;
  width: 262px;
}

.cart_delete_product {
  padding-top: 28px;
  padding-right: 22px;
}

.cart_product_text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 31px;
  color: #575757;
}

.cart_product__text_inside {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 0;
  color: #575757;
}

.cart_product_text_pink {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: #F16D7F;
}

.cart_quantity_input {
  width: 44px;
  margin-left: 24px;
  text-align: center;
}

.reset_cart_button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 17px;
  padding-right: 41px;
  padding-bottom: 17px;
  padding-left: 39px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reset_cart_button:hover {
  color: #FFFFFF;
  background-color: #EF5B70;
  border: 1px solid #EF5B70;
}

.continue_shopping_button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 17px;
  padding-right: 41px;
  padding-bottom: 17px;
  padding-left: 39px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  margin-left: 192px;
  margin-bottom: 128px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.continue_shopping_button:hover {
  color: #FFFFFF;
  background-color: #EF5B70;
  border: 1px solid #EF5B70;
}

.shipping_address {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 20px;
}

.input_text_cart {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-top: 13px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 16px;
  color: #B1B1B1;
  width: 359px;
  margin-bottom: 20px;
}

.get_a_quote_button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 15px;
  color: color_border_button_grey;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  margin-bottom: 57px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.get_a_quote_button:hover {
  color: #FFFFFF;
  background-color: #EF5B70;
  border: 1px solid #EF5B70;
}

.proceed_cart_block {
  background-color: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subtotal_cart_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.proceed_cart_heading {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding-top: 34px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: #4A4A4A;
  text-transform: uppercase;
  text-align: end;
}

.subtotal_block {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding-top: 34px;
  padding-right: 34px;
  padding-bottom: 0;
  padding-left: 25px;
}

.grand_total_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grand_total_block {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: #222222;
  text-transform: uppercase;
}

.total_block {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-top: 12px;
  padding-right: 34px;
  padding-bottom: 21px;
  padding-left: 25px;
  color: #222222;
  text-transform: uppercase;
  color: #EF5B70;
}

.hr_cart_total {
  color: #E2E2E2;
  width: 70%;
  margin: auto;
  margin-bottom: 17px;
}

.checkout_button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-top: 15px;
  padding-right: 43px;
  padding-bottom: 16px;
  padding-left: 41px;
  color: #FFFFFF;
  border: 1px solid #EF5B70;
  background-color: #F16D7F;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.checkout_button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
}

body {
  font-family: 'Lato';
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.banner_logo {
  background: #F1E4E6;
}

.logo_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.man_photo_img {
  margin-top: 12px;
  max-width: 100%;
  height: auto;
}

.logo_1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.logo_2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.pink_text {
  color: #F16D7F;
}

.offer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

offer_text {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__parameters, .offer_1_1, .offer_1_2, .offer_1_3 {
  width: 31.5%;
  height: 260px;
}

.offer__flex, .offer_1_1, .offer_1_2, .offer_1_3, .offer_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer_1_1 {
  background-image: url(img/offer_1_1.png);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.offer_1_2 {
  background-image: url(img/offer_1_2.png);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.offer_1_3 {
  background-image: url(img/offer_1_3.png);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.offer_2 {
  margin-top: 30px;
  margin-bottom: 96px;
  width: 100%;
  height: 180px;
  background-image: url(img/offer_2.png);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.offer_white_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.offer_white_text_link {
  text-decoration: none;
}

.offer_pink_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F16D7F;
}

.offer_hover:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.featured_items_heading {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.featured_items_text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  width: 31.6%;
  position: relative;
  /*Потому что у add-box установлен позишн абсолют */
  margin-bottom: 30px;
}

.item-link {
  display: block;
  width: 100%;
  text-decoration: none;
  background: #F8F8F8;
}

.item-link:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt-box {
  padding: 18px;
}

.item-brand {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.item-desc {
  padding-top: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.item-price {
  padding-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.item:hover .item-pic {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.add-box {
  display: none;
  position: absolute;
  top: 202px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  /* Если флекс не видит ширину, он не поставит объект по центру */
  pointer-events: none;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.add-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px 0 #FFFFFF;
          box-shadow: 0 0 10px 0 #FFFFFF;
}

.catalog_link_button {
  margin-top: 63px;
  margin-bottom: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 38px;
  padding-right: 38px;
  border: 1px solid #FF6A6A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog_link:hover {
  color: #FFFFFF;
  background-color: #F26376;
}

@media (max-width: 768px) {
  .header_right {
    width: 25%;
  }
  .banner__content {
    padding: 2% 3% 0;
  }
  .man_photo {
    max-width: 48%;
    height: auto;
  }
  .logo {
    margin-left: 39px;
  }
  .offer__content {
    padding: 2% 3% 0;
  }
  .item-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .subscribe_block_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 140px;
  }
  .quote_block_width {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .quote_block {
    width: 100%;
  }
  .quote_text {
    padding-bottom: 0;
  }
  .subscribe_form_heading {
    padding-top: 48px;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
  }
  .copyright_and_social_media_flex {
    width: 95%;
  }
  .copyright {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 376px) and (max-width: 600px) {
  .mega-box {
    z-index: 2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-125px);
            transform: translateX(-125px);
  }
  .mega-box::before {
    display: none;
  }
  .header_right {
    width: 25%;
  }
  .banner__content {
    padding: 2% 3% 0;
  }
  .man_photo {
    max-width: 48%;
    height: auto;
  }
  .logo {
    margin-left: 39px;
  }
  .offer__content {
    padding: 2% 3% 0;
  }
  .item-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .subscribe_block_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 140px;
  }
  .quote_block_width {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .quote_block {
    width: 100%;
  }
  .quote_text {
    padding-bottom: 0;
  }
  .subscribe_form_heading {
    padding-top: 48px;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
  }
  .copyright_and_social_media__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .copyright {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .social_media_block {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .header_right {
    width: 35%;
  }
  .man_photo {
    display: none;
  }
  .logo {
    width: 100%;
    margin-top: 148px;
    margin-bottom: 149px;
  }
  .logo_1 {
    font-size: 38px;
    line-height: 46px;
  }
  .logo_2 {
    font-size: 20px;
    line-height: 24px;
  }
  .mega-box {
    z-index: 2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-165px);
            transform: translateX(-165px);
  }
  .mega-box::before {
    display: none;
  }
  .offer__content {
    padding: 2% 3% 0;
  }
  .offer_flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__parameters, .offer_1_1, .offer_1_2, .offer_1_3 {
    width: 100%;
    height: 260px;
  }
  .offer_1_1 {
    margin-bottom: 32px;
  }
  .offer_1_2 {
    margin-bottom: 32px;
  }
  .offer_2 {
    margin-bottom: 64px;
  }
  .item-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .statements_flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statements_text {
    padding-top: 16px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 0px;
    color: #FBFBFB;
  }
  .statements_logo {
    display: block;
    padding-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .statements_text__margin {
    margin-bottom: 81px;
  }
  .subscribe_form_heading {
    padding-top: 150px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
  }
  .subscribe_form_text {
    padding-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .quote_text {
    padding-bottom: 0;
  }
  .copyright_and_social_media__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .social_media_block {
    width: 50%;
    padding-top: 43px;
    margin: 0 auto;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */