* {
    margin: 0;
    padding: 0;
}

@import "vars";
@import "header";
@import "footer";
@import "registration_form";
@import "product_page";
@import "catalog";
@import "cart";

body {
    font-family: 'Lato';
}

.container {
    max-width: $site-width;
    margin: 0 auto;
}

.banner_logo {
    background: $color_bg_pink;
}

.logo_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.man_photo_img {
    margin-top: 12px;
    max-width: 100%;
    height: auto;
}

.logo_1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: $color_black_lighter;
    text-transform: uppercase;
    padding-left: 16px;
    border-left: 12px solid $color_pink
}

.logo_2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $color_black_lighter;
    text-transform: uppercase;
    padding-left: 16px;
    border-left: 12px solid $color_pink
}

.pink_text {
    color: $color_pink;
}

.offer_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

offer_text {
    display: inline-block;
    align-items: center;
}

.offer__parameters {
    width: 31.5%;
    height: 260px;
}

.offer__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_1_1 {
    @extend .offer__parameters;
    @extend .offer__flex;
    background-image: url(img/offer_1_1.png);
    transition: all 0.3s;
}

.offer_1_2 {
    @extend .offer__parameters;
    @extend .offer__flex;
    background-image: url(img/offer_1_2.png);
    transition: all 0.3s;
}

.offer_1_3 {
    @extend .offer__parameters;
    @extend .offer__flex;
    background-image: url(img/offer_1_3.png);
    transition: all 0.3s;
}

.offer_2 {
    margin-top: 30px;
    margin-bottom: 96px;
    width: 100%;
    height: 180px;
    background-image: url(img/offer_2.png);
    @extend .offer__flex;
    transition: all 0.3s;
}

.offer_white_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $color_white;
}

.offer_white_text_link {
    text-decoration: none;
}

.offer_pink_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $color_pink;
}

// .offer_pink_text:hover {
//     /* Попробовала сделать эффект наведения на текст*/
//     color: $color_white;
// }

.offer_hover:hover {
    filter: brightness(125%);
}

.featured_items_heading {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: $color_black_lighter;
    margin-bottom: 6px;
}

.featured_items_text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color_medium_grey;
    margin-bottom: 48px;
}

.item-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 31.6%;
    position: relative;
    /*Потому что у add-box установлен позишн абсолют */
    margin-bottom: 30px;
}

.item-link {
    display: block;
    width: 100%;
    text-decoration: none;
    background: $color_almost_white;
}

.item-link:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
    width: 100%;
    transition: all 0.3s;
}

.txt-box {
    padding: 18px;
}

.item-brand {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $color_black;
}

.item-desc {
    padding-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $color_dark_grey;
}

.item-price {
    padding-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color_pink;
}

.item:hover .item-pic {
    filter: brightness(30%);
}

.add-box {
    display: none;
    position: absolute;
    top: 202px;
    justify-content: center;
    width: 100%;
    /* Если флекс не видит ширину, он не поставит объект по центру */
    pointer-events: none;
}

.add {
    display: flex;
    text-decoration: none;
    border: $bd-width solid $color_white;
    padding: 15px;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    transition: all 0.3s;
}

.add-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color_white;
    margin-bottom: 0;
}

.item:hover .add-box {
    display: flex;
}

.add:hover {
    box-shadow: 0 0 10px 0 $color_white;
}

.catalog_link_button {
    margin-top: 63px;
    margin-bottom: 109px;
    display: flex;
    justify-content: center;
}

.catalog_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color_bright_pink;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 38px;
    padding-right: 38px;
    border: $bd-width solid $color_coral;
    transition: all 0.3s;
}

.catalog_link:hover {
    color: $color_white;
    background-color: $color_bright_pink;
}


@media (max-width: 768px) {

    .header_right {
        width: 25%;
    }

    .banner__content {
        padding: 2% 3% 0;
    }

    .man_photo {
        max-width: 48%;
        height: auto;
    }

    .logo {
        margin-left: 39px;
    }

    .offer__content {
        padding: 2% 3% 0;
    }

    .item-flex {
        flex-wrap: wrap;
    }

    .item {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .subscribe_block_flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 140px;
    }

    .quote_block_width {
        width: 100%;
        display: flex;
        align-self: center;
    }

    .quote_block {
        width: 100%;
    }

    .quote_text {
        padding-bottom: 0;
    }

    .subscribe_form_heading {
        @include footer__par(48px, 700, 24px, 167.2%, center);
    }

    .copyright_and_social_media_flex {
        width: 95%;
    }

    .copyright {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 376px) and (max-width: 600px) {

    .mega-box {
        z-index: 2;
        transition: all 0.3s;
        transform: translateX(-125px);
    }

    .mega-box::before {
        display: none;
    }

    .header_right {
        width: 25%;
    }

    .banner__content {
        padding: 2% 3% 0;
    }

    .man_photo {
        max-width: 48%;
        height: auto;
    }

    .logo {
        margin-left: 39px;
    }

    .offer__content {
        padding: 2% 3% 0;
    }

    .item-flex {
        flex-wrap: wrap;
    }

    .item {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .subscribe_block_flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 140px;
    }

    .quote_block_width {
        width: 100%;
        display: flex;
        align-self: center;
    }

    .quote_block {
        width: 100%;
    }

    .quote_text {
        padding-bottom: 0;
    }

    .subscribe_form_heading {
        @include footer__par(48px, 700, 24px, 167.2%, center);
    }

    .copyright_and_social_media__flex {
        flex-direction: column;
        justify-content: space-between;
    }

    .copyright {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .social_media_block {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 375px) {

    .header_right {
        width: 35%;
    }

    .man_photo {
        display: none;
    }

    .logo {
        width: 100%;
        margin-top: 148px;
        margin-bottom: 149px;
    }

    .logo_1 {
        font-size: 38px;
        line-height: 46px;
    }

    .logo_2 {
        font-size: 20px;
        line-height: 24px;
    }

    .mega-box {

        z-index: 2;
        transition: all 0.3s;
        transform: translateX(-165px);
    }

    .mega-box::before {
        display: none;
    }

    .offer__content {
        padding: 2% 3% 0;
    }

    .offer_flex {
        justify-content: center;
        flex-direction: column;
    }

    .offer__parameters {
        width: 100%;
        height: 260px;
    }

    .offer_1_1 {
        margin-bottom: 32px;
    }

    .offer_1_2 {
        margin-bottom: 32px;
    }

    .offer_2 {
        margin-bottom: 64px;
    }

    .item-flex {
        flex-wrap: wrap;
    }

    .item {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .statements_flex {
        justify-content: center;
        flex-direction: column;
    }

    .statements_text {
        @include footer__par(16px, 300, 13.972px, 17px, center);
        padding-bottom: 0px;
        color: $color_almost_white1;
    }

    .statements_logo {
        display: block;
        padding-top: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .statements_text__margin {
        margin-bottom: 81px;
    }

    .subscribe_form_heading {
        @include footer__par(150px, 700, 24px, 37px, center);
    }

    .subscribe_form_text {
        @include footer__par(0, 400, 14px, 21px, center);
    }

    .quote_text {
        padding-bottom: 0;
    }

    .copyright_and_social_media__flex {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .copyright {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .social_media_block {
        width: 50%;
        padding-top: 43px;
        margin: 0 auto;
        text-align: center;
    }
}